<%- include('views/includes/header', {title: title}) %>

    <body>

    <div class="ctn index">  
        <h1>/almostSecuredChat.js</h1>

        <h2><%= title %> !</h2>

        <div class="button-container">

            <a href="login" class="btn button_type1">Se connecter</a>
            <a href="register" class="btn button_type2">Créer un compte</a>   
            <a href="chat" class="btn button_type2">(chat)</a>   
        
        </div>

    </div>

    </body>

<%- include('views/includes/footer') %>