<%- include('views/includes/header', {title: title}) %>

    <body>
        <h1><%= title %></h1>

        <a href="login"><button>Se connecter</button></a>
        <br/>
        <a href="register"><button>Créer un compte</button></a>   
        
    </body>

<%- include('views/includes/footer') %>