<%- include('../includes/header', {title: title}) %>
<style>
  </style>
<body>

<div class="ctn page">
    <h1><%= title %></h1>
    <div class="chat-container">
        <p class="subtitle">salle_1</p>
        <div class="discussion">
            <ul id="messages">
                <% messages.forEach(function (message) { %>
                    <!-- TODO : check here who wrote the message in order to change the style -->
                    <li><%= message %></li>
                <% }) %>
            </ul>
        </div>
        <form action="" id="form">
            <input type="text" id="m" name ="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>
    
</div>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
// (function() { 
    let form = document.getElementById('form')
    // let messages = []
    let socket = io();
    document.getElementById('form').addEventListener('submit', function(event){
        event.preventDefault();
        socket.emit('chat message', form.elements["m"].value);

        form.elements["m"].value = ''
        return false;
    })


    socket.on('chat message', function(msg){

        var node = document.createElement("LI");
        var textnode = document.createTextNode(msg);
        node.appendChild(textnode);
        document.getElementById("messages").appendChild(node);  
    });


// })

  
</script>
<%- include('../includes/footer') %>