<%- include('../includes/header', {title: title}) %>

<body>

    <div class="ctn page">
        <h1><%= title %></h1>

        <div class="ctn-window">
            <p class="subtitle">/inscription</p>
            <form action="api/auth/register" method="post">
                <label for="pseudo">Pseudo : </label><input id="pseudo" type="text" name="pseudo" placeholder="MyCoolPseudo" required minlength="3" maxlength="12">
                <label for="email">Email : </label><input id="email" type="email" name="email" placeholder="cool@email.com" required>
                <label for="password">Mot de passe : </label><input id="password" type="password" name="password" placeholder="MyCoolPassword" required minlength="8">
                <input class="submit" type="submit" value="S'INSCRIRE">
            </form>
        </div>
    </div>
</body>
    
<%- include('../includes/footer') %>